<div class="container">
  <h1>
    <a class="title-container" routerLink="home"><mat-icon aria-hidden="false">home</mat-icon>HOME</a>
  </h1>

  <div class="menu-container">
    <button mat-raised-button   class="menu-button" [matMenuTriggerFor]="chatMenu">ChatApp</button>
  <mat-menu #chatMenu="matMenu" yPosition="above">
    <button mat-menu-item  routerLink="chat">Global Chat</button>
    <button mat-menu-item  routerLink="chat-room">Other chat</button>
  </mat-menu>

  <button mat-raised-button   class="menu-button" [matMenuTriggerFor]="profileMenu">Profile</button>
  <mat-menu #profileMenu="matMenu" yPosition="above">
    <button mat-menu-item routerLink="chat">My Profile</button>
    <button mat-menu-item>Logout</button>
  </mat-menu>
  </div>
  

  <router-outlet></router-outlet>
</div>
